{% load simple_translation_tags %}
{% load thumbnail %}
{% load sekizai_tags %}
{% load staticfiles %}

{% with group|get_preferred_translation_from_request:request as trans %}
<h1> {{ trans.name }} </h1>
{% endwith %}
{% for person in people %}
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 person">
{% with person|get_preferred_translation_from_request:request as trans %}
<img src="{% thumbnail person.picture 250x250 crop %}" /> 
<a data-toggle="modal" href="#{{ person.id }}" class="card-name"> 
{{ person.roman_first_name }} {{ person.roman_last_name }} 
{% if person.non_roman_first_name and person.non_roman_last_name %}
  ({{ person.non_roman_first_name }} {{ person.non_roman_last_name }}) 
{% endif %} 
</a>

<div class="modal fade" id="{{ person.id }}" tabindex="-1" aria-labelledby="Person" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">
    {{ person.roman_first_name }} {{ person.roman_last_name }} 
    {% if person.non_roman_first_name and person.non_roman_last_name %}
    ({{ person.non_roman_first_name }} {{ person.non_roman_last_name }}) 
    {% endif %}
      </h4> 
    </div> <!-- /.modal-header -->
    <div class="modal-body">
      <div class="profile-header clearfix">
        <div class="name">
          <h1>  {{ person.roman_first_name }} {{ person.roman_last_name }}  </h1>
          {% if person.non_roman_first_name and person.non_roman_last_name %}
          <h3>  {{ person.non_roman_first_name }} {{ person.non_roman_last_name }}  </h3>
          {% endif %}
        </div>

        <div class="pic-resume">
        <div class="picture">
          <img src="{% thumbnail person.picture 250x250 crop %}" /> 
        </div>
        <div class="resume">
          {% if person.resume %}
          <a class="btn btn-pirmary" href="{{ person.resume }}"> CV Download </a>
          {% endif %}
        </div>
        </div>

        </div> <!-- /.profile-header -->
      <div class="profile-body">
        
      </div>
    </div> <!-- /.modal-body -->
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
    </div> <!-- /.modal-footer -->
  </div> <!-- /.modal-content -->
  </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
{% endwith %}
</div>
{% endfor %}

{% addtoblock "css" %}
<link href="{% static 'people_academic/people_academic.css' %}" rel='stylesheet' type='text/css' />
{% endaddtoblock "css" %}
