{% load thumbnail %}
{% load sekizai_tags %}
{% load staticfiles %}

<h1> {{ group.name }} </h1>
{% for person in people %}
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 person">

<a data-toggle="modal" href-"" data-target="#{{ person.id }}"> 
<img src="{% thumbnail person.picture 250x250 crop %}" /> </a>
<a data-toggle="modal" href="" data-target="#{{ person.id }}" class="card-name"> 
{{ person.roman_first_name }} {{ person.roman_last_name }} 
{% if person.non_roman_first_name and person.non_roman_last_name %}
  ({{ person.non_roman_last_name }} {{ person.non_roman_first_name }}) 
{% endif %} 
</a>

<div class="modal fade col-xs-12 col-sm-12 col-md-12 col-lg-12" id="{{ person.id }}" tabindex="-1" aria-labelledby="Person" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">
    {% if person.title %}
    {{ person.title }}
    {% endif %}
    {{ person.roman_first_name }} {{ person.roman_last_name }} 
      </h4> 
    </div> <!-- /.modal-header -->
    <div class="modal-body">
      <div class="profile-header clearfix">
        <div class="pic-resume col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <div class="picture">
          <a href="{{ MEDIA_URL }}{{ person.picture }}">
          <img src="{% thumbnail person.picture 190x190 crop %}" /> 
          </a>
        </div>
        <div class="resume">
          {% if person.resume %}
          <div class="resume-link"> <a href="{{person.resume.url}}" ><button class="btn btn-primary btn-lg"> CV Download </button></a> </div>
          {% endif %}
        </div>
        </div>

        <div class="name-contacts col-xs-12 col-sm-12 col-md-7 col-lg-7">
          <div class="name">
          <h1>
          {{ person.roman_first_name }} {{ person.roman_last_name }}  
          {% if person.gender == "male" %}
            <i class="icon-male"></i>
          {% elif person.gender == "female" %}
            <i class="icon-female"></i>
          {% endif %}

          </h1>
          {% if person.non_roman_first_name and person.non_roman_last_name %}
          <h3>  {{ person.non_roman_last_name }} {{ person.non_roman_first_name }}  </h3>
          {% endif %}
          {% if person.chosen_name %}
          <h4> "{{ person.chosen_name }}" </h4>
          {% endif %}
          {% if person.role %}
          <h4> {{ person.role }} </h4>
          {% endif %}

          </div>
          <div class="contacts">
          {% if person.email %}
          <p> {{ person.email }} </p>
          {% endif %}
          {% if person.phone %}
          <p> {{ person.phone }} </p>
          {% endif %}
          {% if person.mobile %}
          <p> {{ person.mobile }} </p>
          {% endif %}
          {% if person.homepage %}
          <a href="{{ person.homepage }}"><p> {{ person.homepage }} </p></a>
          {% endif %}
          {% if person.building %}
          <p> {{ person.building }} </p>
          {% endif %}
          </div>
        </div>

        </div> <!-- /.profile-header -->
      <div class="profile-body">
        <div class="interests">
          {% if person.interests %}
          <h4> Interests </h4>
          <p> {{ person.interests }} </p>
          {% endif %}
        </div>
        <div class="bio">
          {% if person.bio %}
          <h4> Biography </h4>
          <p> {{ person.bio }} </p>
          {% endif %}
        </div>
        <div class="prof-activities">
          {% if person.prof_activities %}
          <h4> Professional Activities </h4>
          <p> {{ person.prof_activities }} </p>
          {% endif %}
        </div>
        <div class="Publication">
          {% if person.pub %}
          <h4> Publication </h4>
          <p> {{ person.pub }} </p>
          {% endif %}
        </div>
      </div>
    </div> <!-- /.modal-body -->
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
    </div> <!-- /.modal-footer -->
  </div> <!-- /.modal-content -->
  </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
</div>
{% endfor %}

{% addtoblock "css" %}
<link href="{% static 'people_academic/people_academic.css' %}" rel='stylesheet' type='text/css' />
{% endaddtoblock "css" %}
{% addtoblock "css" %}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/3.0.0/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
{% endaddtoblock "css" %}
{% addtoblock "css" %}
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
{% endaddtoblock "css" %}
{% addtoblock "js" %}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"> </script>
{% endaddtoblock "js" %}
